<div class="navbar-item">
  <div class="buttons">
      <div class="button is-primary">
        <%= link_to 'Sign up', new_user_registration_path %>
      </div>
      <div class="button is-light">
        <%= link_to 'Sign in', user_session_path %>
      </div>
    </div>
  </div>
</div>
