<li class='is-flex is-justify-content-space-between'>
    <%= link_to user.name,  user_path(user), class: 'title is-4 mb-0' %>
    <span class="profile-link is-flex ml-3">
      <%= friendship_request(user)%>
    </span>
</li>
<hr>
